<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translations Handler</title>

    <link rel="stylesheet" href="main.css">
    <script src="main.js" type="module" defer></script>

    <script>
      // Live reload WebSocket
      const ws = new WebSocket("ws://127.0.0.1:35989");

      ws.onmessage = (event) => {
        if (event.data === "reload") {
          window.location.reload();
        }
      };
    </script>
  </head>
  <body>
    <h1>It's aliiiive 9!</h1>
  </body>
</html>
