<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i18n Translation Manager</title>

    <link rel="stylesheet" href="/site.css">
    <link rel="icon" type="image/svg" href="/assets/logo-white.svg">

    <script src="/main2.js" defer type="module"></script>
  </head>
  <body>
    <header>
      <div class="header__content container">
        <img
          src="/assets/logo-white.svg"
          alt="Site's logo"
          class="header__logo"
        >

        <div class="header__social ml-auto gap-4">
          <a
            href="https://github.com/Tauromachian/translations-manager"
            target="_blank"
          >
            <img src="/assets/github-logo-white.svg" alt="GitHub logo">
          </a>
          <a
            href="https://www.linkedin.com/in/dev-jose-garcia/"
            target="_blank"
          >
            <img src="/assets/linkedin-logo-white.svg" alt="LinkedIn logo">
          </a>
        </div>
      </div>
    </header>
    <main class="container">
      <section class="hero my-4 gap-8">
        <div>
          <h1 class="mb-1">Manage Your i18n Translations</h1>
          <p class="mb-1">
            Let translators translate without coding and let coders code without
            translating.
          </p>
          <p>
            Store, organize, and retrieve your multilingual translation keys and
            values effortlessly. Streamline your app's localization process with
            our intuitive i18n management tool.
          </p>
          <a href="/app" class="cta-button">Open App</a>
          <a href="/api-docs" class="cta-button-2 ml-1" target="blank"
          >Open Docs</a>
        </div>
        <img src="/assets/google-translate.jpg" alt="Translations">
      </section>
      <section class="about-section">
        <h2 class="mb-1">About</h2>
        <p class="mb-1">This app has two objectives:</p>
        <ol>
          <li>
            Make a simple GUI to allow translators to translate with minimal
            difficulty.
          </li>
          <li>
            Provide an API to let coders download the translations
            asynchronously.
          </li>
        </ol>
      </section>
    </main>
    <footer>
      <p>© 2025 i18n Translation Manager. All rights reserved.</p>
    </footer>
  </body>
</html>
