<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i18n Translation Manager</title>

    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
    <header>
      <p>TM</p>
    </header>
    <main class="container mt-4">
      <section class="hero">
        <div>
          <h2>Manage Your i18n Translations</h2>
          <p>
            Store, organize, and retrieve your multilingual translation keys and
            values effortlessly. Streamline your app's localization process with
            our intuitive i18n management tool.
          </p>
          <a href="/app" class="cta-button">Open App</a>
          <a href="/api-docs" class="cta-button-2" target="blank">Open Docs</a>
        </div>
        <img src="/assets/google-translate.jpg" alt="Translations">
      </section>
    </main>
    <footer>
      <p>© 2025 i18n Translation Manager. All rights reserved.</p>
    </footer>
  </body>
</html>
