<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i18n Translation Manager</title>

    <link rel="stylesheet" href="/site.css">
    <link rel="icon" type="image/svg" href="/assets/logo-white.svg">

    <script src="/main2.js" defer type="module"></script>
  </head>
  <body>
    <header>
      <div class="header__content container">
        <img
          src="/assets/logo-white.svg"
          alt="Site's logo"
          class="header__logo"
        >

        <button class="button--text ml-auto">
          <iconify-icon
            width="42"
            height="42"
            icon="material-symbols:invert-colors"
          ></iconify-icon>
        </button>
      </div>
    </header>
    <section class="hero mb-4 gap-8">
      <div class="container">
        <div>
          <h1 class="mb-1">Manage Your i18n Translations</h1>
          <p class="mb-1">
            Let translators translate without coding and let coders code without
            translating.
          </p>
          <p>
            Store, organize, and retrieve your multilingual translation keys and
            values effortlessly. Streamline your app's localization process with
            our intuitive i18n management tool.
          </p>
          <a href="/app" class="button--cta">Open App</a>
          <a href="/api-docs" class="ml-1" target="blank">Open Docs</a>
        </div>
        <img src="/assets/google-translate.jpg" alt="Translations">
      </div>
    </section>

    <main class="container">
      <section class="about-section">
        <h2 class="mb-1">The Problems</h2>
        <p class="mb-1">
          There are several problems that normal translations have.
        </p>
        <ol>
          <li>
            They are difficult to re-use.
          </li>
          <li>
            It is difficult to separate the development experience from the
            translators experience.
          </li>

          <li>
            Pipelines cost money. Generally you don't want to rebuilt your
            entire project for every change to the translations.
          </li>
        </ol>
      </section>

      <section class="about-section">
        <h2 class="mb-1 mt-2">Why?</h2>
        <p class="mb-1">
          As a coder I always disliked the time I spent doing translations. This
          is generalized across other developers. Furthermore, these
          translations were always overwritten by my manager.
        </p>

        <p>
          This prompted me to create this project. Another SaaS you may call it.
          I believe this one has the potential to make everyone happy because:
        </p>
        <ul class="mt-1">
          <li>
            Managers can edit the translations themselves if they choose to.
          </li>
          <li>
            You can hire translators.
          </li>
          <li>
            You can spare your coders of writing translations themselves. Keep
            them doing what they like. Building software.
          </li>
          <li>
            You can save money. By keeping your coders coding.
          </li>
        </ul>
      </section>

      <section class="about-section">
        <h2 class="mb-1 mt-2">About</h2>
        <p class="mb-1">This app has two objectives:</p>
        <ol>
          <li>
            Make a simple GUI to allow translators to translate with minimal
            difficulty.
          </li>
          <li>
            Provide an API to let coders download the translations
            asynchronously.
          </li>
        </ol>
      </section>
    </main>
    <footer>
      <div class="container footer__container">
        <p class="mr-auto">
          © 2025 i18n Translation Manager. All rights reserved.
        </p>

        <div class="header__social ml-auto gap-4">
          <a
            href="https://github.com/Tauromachian/translations-manager"
            target="_blank"
          >
            <img src="/assets/github-logo-dark.svg" alt="GitHub logo">
          </a>
          <a
            href="https://www.linkedin.com/in/dev-jose-garcia/"
            target="_blank"
          >
            <img src="/assets/linkedin-logo-dark.svg" alt="LinkedIn logo">
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
