:root {
  --color-neutral: #fdfdfd;
  --black: #191919;
  --primary: #a2d2ff;
  --primary-10: #66b5ff;
  --primary-20: #005cb3;
  --gray: #4a5565;
  --danger: #f56565;
  --disabled: #606064;

  --font-sans: "Nunito Sans Variable", sans-serif;
}

html[data-theme="dark"] {
  --color-neutral: #0d1b2a;
  --primary: #778da9;
  --text-color: #e0e1dd;
}

@font-face {
  font-family: "Nunito Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito-sans:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+0304,
    U+0308,
    U+0329,
    U+2000-206F,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD;
}

body {
  background-color: var(--color-neutral);
  color: var(--black);
  font-family: var(--font-sans);
}

body * {
  font-family: var(--font-sans);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
