:root {
  --color-neutral: #fdfdfd;

  --text-color: #191919;
  --text-color-10: #555;

  --primary: #a2d2ff;
  --primary-10: #66b5ff;
  --primary-20: #005cb3;
  --gray: #4a5565;
  --gray-10: #eae9f0;
  --danger: #f56565;
  --disabled: #f0h0f0;
  --disabled-10: #878691;

  --card-background: var(--color-neutral);

  --table-text-color: #333;
  --table-border-color: #e0e0e0;
  --table-header-color: var(--text-color-10);
  --table-header-background: #f7f7f7;
  --table-row-hover: #f9f9f9;

  --form-field-bg: #fff;
  --form-field-color: var(--text-color);
  --form-field-disabled-bg: var(--disabled);
  --form-field-disabled-color: #a0a0a0;
  --form-field-disabled-border: #d0d0d0;

  --font-sans: "Nunito Sans Variable", sans-serif;
}

html[data-theme="dark"] {
  --color-neutral: #0d1b2a;
  --primary: #778da9;
  --text-color: #e0e1dd;
  --disabled: #293139;
  --gray-10: #0d1a28;

  --card-background: #1b263b;
  --card-background-10: #22304d;
  --card-background-20: #182031;

  --table-text-color: var(--text-color);
  --table-border-color: var(--card-background-10);
  --table-header-color: var(--text-color);
  --table-header-background: var(--card-background-20);
  --table-row-hover: #1d283e;

  --form-field-bg: #122131;

  --filter: 100%;
}
