.button--text {
  background: transparent;
  border: none;
}

.button--cta {
  background-color: var(--primary);
  color: var(--black);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline-block;
}

.button--cta:hover {
  background-color: var(--primary-10);
}
