@import "@/shared/styles/reset.css";

@import "@jogarcia/mgrid/dist/margin.css";
@import "@jogarcia/mgrid/dist/gap.css";

@import "@/shared/styles/vars.css";
@import "@/shared/styles/global.css";
@import "@/shared/styles/grid.css";

body {
  --footer-height: 80px;

  min-height: 100vh;
  position: relative;
  padding-bottom: calc(var(--footer-height) + 2rem);
}

header {
  background-color: var(--primary-20);
  color: white;
  width: 100%;
  height: 64px;
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 1.5rem;
}

.header__social {
  display: flex;
}

.header__logo {
  height: 42px;
}

.header__social img {
  height: 42px;
  width: auto;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  .hero {
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
}

.about-section {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
  background-color: var(--primary);
  color: var(--black);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline-block;
}

.cta-button:hover {
  background-color: var(--primary-10);
}

footer {
  background-color: #eae9f0;
  color: var(--black);
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  align-items: center;
}
