@import "@/shared/styles/reset.css";

@import "@/shared/styles/vars.css";
@import "@/shared/styles/global.css";

header {
  background-color: var(--primary-20);
  color: white;
  width: 100%;
  text-align: center;
  height: 64px;
}

.container {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 0.5rem;
}

.cta-button {
  background-color: var(--primary);
  color: var(--black);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline-block;
}

.cta-button:hover {
  background-color: var(--primary-10);
}

footer {
  background-color: var(--gray-10);
  color: var(--black);
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
