@import "@/shared/styles/reset.css";

@import "@jogarcia/mgrid/dist/margin.css";
@import "@jogarcia/mgrid/dist/gap.css";

@import "@/shared/styles/vars.css";
@import "@/shared/styles/global.css";
@import "@/shared/styles/grid.css";

@import "button.css";

body {
  --footer-height: 80px;

  min-height: 100vh;
  position: relative;
  padding-bottom: calc(var(--footer-height) + 3rem);
}

header {
  background-color: var(--hero-bg-color);
  color: white;
  width: 100%;
  height: 64px;
}

.header__content {
  background-color: var;

  height: 100%;
  display: flex;
  align-items: center;
}

.header__content > button {
  color: inherit;
}

.header__title {
  font-size: 1.5rem;
}

.header__social {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .header__social {
    filter: invert(var(--filter));
  }
}

.header__logo {
  height: 42px;
}

.header__social img {
  height: 42px;
  width: auto;
}

.hero {
  background-color: var(--hero-bg-color);
}

.hero > .container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  .hero > .container {
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
}

.hero__link {
  color: var(--primary);
}

.about-section {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: var(--gray-10);
  color: var(--text-color-10);
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
}

.footer__container {
  display: flex;
  align-items: center;
  height: 100%;
}
