name: SSH into VPS and deploy

on:
  push:
    branches:
      - main

env:
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_PORT: ${{ secrets.DB_PORT }}
  DB_NAME: ${{ secrets.DB_NAME }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy over SSH

    steps:
      - name: Deploy project over SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo '${{ secrets.DB_USER }}' > .env
            echo '${{ secrets.DB_PASSWORD }}' >> .env
            echo '${{ secrets.DB_PORT }}' >> .env
            echo '${{ secrets.DB_NAME }}' >> .env

            if [ -d translations-manager ]; then
              cd translations-manager
              git pull --rebase -Xours
            else
              git clone https://github.com/Tauromachian/translations-manager.git
            fi

            docker compose down
            docker compose build --no-cache
            docker compose up -d
