name: SSH into VPS and deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy over SSH

    steps:
      - name: Deploy project over SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            if [ -d translations-manager ]; then
              cd translations-manager
              git pull --rebase -Xours
            else
              git clone https://github.com/Tauromachian/translations-manager.git
              cd translations-manager
            fi

            echo 'DB_USER=${{ secrets.DB_USER }}' > .env
            echo 'DB_PASSWORD=${{ secrets.DB_PASSWORD }}' >> .env
            echo 'DB_PORT=${{ secrets.DB_PORT }}' >> .env
            echo 'DB_NAME=${{ secrets.DB_NAME }}' >> .env
            echo 'DB_HOST=db' >> .env

            docker compose down
            docker compose build --no-cache
            docker compose up -d
